<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
  <Document>
    <name>CAS - SAC</name>
    <Style id="icon-1899-0288D1-normal">
      <IconStyle>
        <color>ffd18802</color>
        <scale>1</scale>
        <Icon>
          <href>http://www.gstatic.com/mapspro/images/stock/503-wht-blank_maps.png</href>
        </Icon>
        <hotSpot x="32" xunits="pixels" y="64" yunits="insetPixels"/>
      </IconStyle>
      <LabelStyle>
        <scale>0</scale>
      </LabelStyle>
    </Style>
    <Style id="icon-1899-0288D1-highlight">
      <IconStyle>
        <color>ffd18802</color>
        <scale>1</scale>
        <Icon>
          <href>http://www.gstatic.com/mapspro/images/stock/503-wht-blank_maps.png</href>
        </Icon>
        <hotSpot x="32" xunits="pixels" y="64" yunits="insetPixels"/>
      </IconStyle>
      <LabelStyle>
        <scale>1</scale>
      </LabelStyle>
    </Style>
    <StyleMap id="icon-1899-0288D1">
      <Pair>
        <key>normal</key>
        <styleUrl>#icon-1899-0288D1-normal</styleUrl>
      </Pair>
      <Pair>
        <key>highlight</key>
        <styleUrl>#icon-1899-0288D1-highlight</styleUrl>
      </Pair>
    </StyleMap>

  {% for cabin in data %}
    <Placemark>
      <name>{{cabin.title}} - {{cabin.altitude}}</name>
      <description><![CDATA[<img src="{{cabin.thumbPath}}" height="200" width="auto" /><a href="{{cabin.link}}">CAS/SAC Page</a><br><br>{{cabin.description}}<br><br>]]></description>
      <styleUrl>#icon-1899-0288D1</styleUrl>
      <ExtendedData>
        <Data name="gx_media_links">
          <value>{{cabin.thumbPath}}</value>
        </Data>
      </ExtendedData>
      <Point>
        <coordinates>
          {{cabin.coordinates}}
        </coordinates>
      </Point>
    </Placemark>
  {% endfor %}

  </Document>
</kml>
